.data--item {
    width: 450px;
    height: 45px;
    padding: 5px;
    border: 1px solid #c2c2c280;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px #c9c9c99f;
    display: flex;
    align-items: center;
}

.data--item-form {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.data--item > form > span {
    cursor: pointer;
    margin-left: -10px;
}

.data--item > span > i:hover {
    color: var(--alt-primary);
    cursor: pointer;
}

.data--item-buttons {
    width: 50px;
    display: flex;
    justify-content: space-evenly;
}

.data--item-password {
    margin-left: auto;
}

.data--item-showPassword {
    width: 100px;
    outline: none;
    padding: 5px;
}

.data--item input[type=text], input[type=password]{
    color: #b0b0b0;
}

.fa-ellipsis-vertical {
  padding: 10px;
}
