/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
}
.nav--logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nav--logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav--heading {
  color: var(--primary-color);
}

.nav--topLeft {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;  
}

.nav--topLeft > li {
  border-bottom: 2px solid transparent;
}

.nav--topLeft > li:hover {
  border-bottom: 2px solid var(--alt-primary);
  font-weight: 600;
  cursor: pointer;
}

.nav--topRight {
  display: flex;
  justify-content: space-evenly;
}

.nav--topRight > li {
  margin: 5px;
}

.nav--topRight i {
  color:var(--primary-color);
}

.nav--logoutBtn {
  background: none;
}

nav > span {
  padding: 10px;
  cursor: pointer;
}
/* NAVBAR */

/* MODAL */
.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.342);
}
/* MODAL */

/* REGISTER */
.container .heading{
  text-align: center;

}

.container {
  height: 100vh;
}

.container .form {  
  margin-top: 30px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form > .form-group input[type=text], .form-group input[type=password] {
  margin-top: 10px;
  width: 230px;
}

.registerBtn, .loginBtn {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-color);
}

.registerBtn:focus,
.registerBtn:hover,
.loginBtn:focus,
.loginBtn:hover {
  border: 2px solid var(--alt-primary);
  color:rgb(150, 150, 150);
}

/* REGISTER */

/* CONTACT */
.contact--form {
  display: flex;
  flex-direction: column;
}

.contact--form > input, textarea {
  margin: 15px 0;
}

.contact--submitBtn {
  width: 80px;
  background-color: var(--app-background);
  margin: 0 auto;
}
/* CONTACT */

/* SPINNER */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--primary-color) transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SPINNER */

.fa-solid {
  color: var(--primary-color)
}

.fa-solid:hover {
  color: var(--alt-primary);
}
