/* Modal window */
.passGenerator {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.passGenerator > form > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
  }


/* Generate button */
button {
    outline: none;
    border: none;
    cursor: pointer;    
    background-color: #f2f2f2;
}

button > i {
    transition: .3s;
}


/* Generate button input fields */
input {
    border-radius: 5px;
    border: 1px solid rgb(194 194 194 / 80%);
    padding: 10px;
    margin: 5px;    
}

.passGenerator .copyPassToClipboard {
    border: none;
    outline: none;
    margin: 0 10px;
    padding: 0;
}

.passGenerator .copyPassToClipboard:hover {
    border: none;
    outline: none;    
}

.passGenerator button {
    padding: 10px;
    width: 80px;
    margin: 0 auto;
    border: 2px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
}

.passGenerator button:focus, .passGenerator button:hover {
    border: 2px solid #61dafbaa;
    color:rgb(150, 150, 150);
}

.copyIcon:hover {
    fill:#61dafbaa;
    transition: fill .3s;
}

#password, #passwordInput{
    min-width: 220px;
}