nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
}
.nav--logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nav--logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav--menu {
  width: 400px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;  
}

.nav--menu > li {
  border-bottom: 2px solid transparent;
}

.nav--menu > li:hover {
  border-bottom: 2px solid #17C3B2;
  font-weight: 600;
  cursor: pointer;
}

nav > span {
  padding: 10px;
  cursor: pointer;
}

.fa-solid:hover {
  color: #17C3B2;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.342);
}

.contact--form {
  display: flex;
  flex-direction: column;
}

.contact--form > input, textarea {
  margin: 15px 0;
}

.contact--submitBtn {
  width: 80px;
  background-color: #FFF;
  margin: 0 auto;
}