#root {  
  margin: 0 2rem;
  padding: 0 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
}
.nav--logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nav--logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav--menu {
  width: 400px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;  
}

.nav--menu > li {
  border-bottom: 2px solid transparent;
}

.nav--menu > li:hover {
  border-bottom: 2px solid #00d8ff;
  font-weight: 600;
  cursor: pointer;
}

nav > span {
  padding: 10px;
  cursor: pointer;
}

.fa-solid:hover {
  color: #00d8ff;
}